<section>
  <h1>Make a choice</h1>
  <div>
      <button (click)="onSelectRent()">Rent a car</button>
      <button (click)="onSelectGive()">Give back a car</button>
      <button>{{view}}</button>
  </div>
</section>


<!-- Rent the car -->
<div id="rentCar" *ngIf = "view == 'rent'">
  <h2>Select a car:</h2>

  <h3>Click on any car to be rented:</h3>

  <ul class="cars">
    <li *ngFor="let car of cars" (click)="onSelect(car)">
      {{car.plateNumber}}: {{car.model}}: {{car.price}} euros/day
      <div *ngIf="car.rented == false">
        TO BE RENTED
      </div>
      <div *ngIf="car.rented == true">
        RENTED
      </div>
    </li>
  </ul>

  <div *ngIf="selectedCar">
    <h2>Selected car: {{selectedCar.model | uppercase}}
    </h2>
    <button (click)="rent(selectedCar)">Rent it now !</button>
  </div>
</div>

<!-- Give back the car -->
<div id="giveCar" *ngIf = "view == 'give'">
  <h2>Select a car:</h2>

  <h3>Click on any car to be returned:</h3>

  <ul class="cars">
    <li *ngFor="let car of cars" (click)="onSelect(car)">
      {{car.plateNumber}}: {{car.model}}: {{car.price}} euros/day
      <div *ngIf="car.rented == false">
        TO BE RENTED
      </div>
      <div *ngIf="car.rented == true">
        RENTED
      </div>
    </li>
  </ul>

  <div *ngIf="selectedCar">
    <h2>Selected car: {{selectedCar.model | uppercase}}
    </h2>
    <button (click)="give(selectedCar)">Give it back !</button>
  </div>
</div>